name: Libfstcpp Regression Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  regression:
    name: Build and Run Regression
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake build-essential ninja-build libgtest-dev lcov

      - name: Run tests
        run: ./run_regression.sh --coverage
